div {
    width: 100px;
    height: 100px;
}

.green {
    background-color: green;
    padding: 30px;
        margin: 30px;
}
.blue {
    background-color: blue;
    padding: 30px;
        margin: 30px;
}
.red {
    background-color: red;
    padding: 30px;
        margin: 30px;
}

footer {
    background-color: slategray;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}