input {
    display: block;
    border-radius: 5px;
        width: 100px;
}

.custom-input {
    min-width: 25
}
textarea {
    display: block;
    resize: none;
    border-color: darkgreen;
    border-radius: 5px;
}

textarea:focus {
    color: darkblue;
    background-color: yellow;
}